@font-face {
    font-family: "Source Sans";
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/SourceSansPro-Regular.ttf') format('ttf');
}
@font-face {
    font-family: "Source Sans";
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/SourceSansPro-Bold.ttf') format('ttf');
}

html {
    height: 100%;
    box-sizing: border-box;
}
body {
    min-height: 100%;
    background-color: white;
}

.main {
    display: flex;
    justify-content: center;
    padding: 20px 5px;
}

.repositories {
    display: flex;
    flex-direction: column;
    padding: 0 20px 20px 20px;
    flex-grow: 0;
    width: 100%;
    max-width: 500px;
}
.repositories__input-wrapper {
     overflow: visible;
     z-index: 99;
     height: 40px;
}

.repositories__search {
    box-sizing: border-box;
    background-color: white;
    font-weight: 400;
    width: 100%;
    height: 40px;
    padding: 5px 20px;
    border: #808080 solid 1px;
    border-radius: 10px;
    margin-bottom: 5px;
}
.repositories__search:focus {
    box-shadow: 1px 1px 10px 1px #6496ed;
}

.repositories__data {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #DCDCDC;
    max-height: 0px;
    transition:  1.5s ease-in-out;
    padding: 0;
    margin: 0;
 }

.repositories__option {
    cursor: pointer;
    padding: 10px 20px;
}
.repositories__option:hover {
    background-color: #B0E0E6;
}

.repositories__img {
    background-color: transparent;
    width: 350px;
}

.repositories__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 120px;
    padding: 0;
 }

.repositories__item {
    display: flex;
    flex-direction: column;
    background-color: #B0E0E6;
    border-radius: 10px;
    overflow: hidden;
    max-height: 0px;
    transform: rotateX(-90deg);
    transition: max-height 0.5s, transform 1s, padding 1s, margin 1s;
    transform-origin: 50% 0;
    padding: 10px 20px;
    margin-bottom: 8px;
 }
.repositories__item:hover {
    box-shadow: 1px 1px 8px 1px #696969;
    transition-duration: 0.3s;
}
.repositories__span {
    font-family: "Source Sans";
    font-size: 20px;
    font-weight: 400;
    margin-left: 145px;
    color: #4682B4;
}
.repositories__span::before {
    position: absolute;
    left: 15px;
    color: #696969;
}

.repositories__name::before {
     content: 'Repository name: ';
}

.repositories__owner::before {
     content: 'Owner: ';
}

.repositories__stars::before {
     content: 'Stars: ';
}

.repositories__button {
     border: none;
     background-color: transparent;
     cursor: pointer;
 }

.repositories__button--close {
    position: absolute;
    top: 24px;
    right: 12px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #B0E0E6;
    background-image: url('img/btn-close.png');
    background-size: 35px 35px;
}
.repositories__button--close:hover {
    box-shadow: 1px 1px 10px 1px #4682B4;
    transition-duration: 0.4s;
}

.repositories__error {
    justify-self: center;
    color: #4682B4;
    font-weight: 700;
    padding: 20px;
}